<nav class="navbar" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="link-to-home">
      <%= link_to Spree.t(:home), root_path %>
    </li>
    <li id="link_to_company_info" data-hook>
      <%= link_to Spree.t(:about_us), root_path %>
    </li>
    <!--    <li id="" data-hook>-->
    <%#= render partial: 'spree/shared/search' %>
    <!--    </li>-->
    <li id="link-to-products">
      <%= link_to Spree.t(:products), spree.products_path %>
    </li>

    <li id="link-to-contact">
      <%= link_to Spree.t(:contact), spree.root_path %>
    </li>

    <li id="link-to-auth" data-hook>
      <%= render partial: 'spree/shared/login_bar' %>
    </li>
  </ul>
</nav>
